/* Video */
.video {
  position: relative;
  background-color: black;
  height: 80vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

.video .content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.video .content h1 {
  position: relative;
  color: white;
  z-index: 2;
  margin: 0;
  font-size: 4.5rem;
}

.video h1 span {
  font-weight: 300;
}

.video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}
/* Video end */

/* MEDIA QUERIES */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
  .video .content h1 {
    font-size: 5.5rem;
  }
}

@media (min-width: 1800px) {
}
